<html>
    <body>
        <div class="erros">
            <%if(errosValidacao){%>
                <ul>
                    <%for(var i =0; i < errosValidacao.length; i++){%>
                        <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                    <%}%>
                </ul>
             <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Título do Livro: </label>
                <input type="text" name="titulo" id="titulo"  value="<%=produto.titulo%>" placeholder="Coloque o título aqui." />
            </div>
            <div>
                <label for="preco">Preço do Livro: </label>
                <input type="text" name="preco" id="preco" value="<%=produto.preco%>" placeholder="Coloque o valor aqui." />
            </div>
            <div>
                <label for="descricao">Descrição do Livro</label>
                <textarea cols="25" rows="3" name="descricao" id="descricao"  placeholder="Descrição do livro."><%=produto.descricao%></textarea>                
            </div>
            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>